{% extends 'base.html' %}
{% load custom %}
{% block page-container %}
    <div class="wrap-left">
        {% for article in article_list reversed %}
            <div class="article-box row">
                <div class="article-head-img col-md-4">
                    <img src="/{{ article.head_img|truncate_url }}" >
                </div>
                <div class="article-brief col-md-8">
                    <a class="article-title" href="{% url 'article_detail' article.id %}">{{ article.title }}</a>
                    <div class="article-brief-info">
                        <span>
                            {{ article.author.name }}
                        </span>
                        <span>{{ article.pub_date }}</span>
                        <span>{%  filter_comment article as comments %} </span>
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        {{ comments.comment_count }}
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        {{ comments.thumb_count }}
                    </div>
                    <div class="article-brief-text">
                        <p>{{ article.brief }}</p>
                    </div>


                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
    <div class="wrap-right">
    公告
    </div>
    <div class="clear-both"></div>

{% endblock %}

