{% extends 'store/basic.html' %}
{% block content %}
{#    <div>#}
{##}
{#        <div id="bg">#}
{#            这里是编辑信息#}
{#        </div>#}
{#        <div id="show" style="height: auto">#}
{##}
{#            <div id="divHide" >#}
{#                <form class="form" action="/store/author_edit/" method="post">#}
{#                    <div >#}
{#                        First Name<input  type="text" name="first_name" value="" required="length[6~50]"/>#}
{#                    </div>#}
{#                    <div>#}
{#                        Last Name<input  type="text" name="last_name" value="" required="length[6~50]"/>#}
{#                    </div>#}
{##}
{#                    <input type="submit" value="提交" onclick="FuncAdd(this);"/>#}
{#                    <input id="btnclose" type="button" value="取消" onclick="hidediv();"/>#}
{#                </form>#}
{#            </div>#}
{##}
{#        </div>#}
{##}
{#    </div>#}

    <form action="/store/author_del/" method="post">
{#        <input class="button" id="btnshow" type="button" value="Add" onclick="showdiv();"/>#}
        <input class="button" id="add1" type="button" value="Add" onclick="AddRow();"/>
        <input class="button" id="checkbox1" type="button" value="全选" onclick="SelectAll(this);"/>
        <input class="button" id="checkbox2" type="button" value="反选" onclick="OtherBind(this)"/>
        <input class="button" id="checkbox3" type="button" value="取消" onclick="NoBind(this)"/>
        <input class="button" id="checkbox4" type="button" value="Save"/>
        <input type="submit" value="del"/>
        <table class="table" id="tb1">
            <thead>
                    <tr>
                        <th>ID</th>
                        <th>first_name</th>
                        <th>last_name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in li %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.first_name }}</td>
                            <td>{{ item.last_name }}</td>
                            <td><input name="choice" type="checkbox"  value='{{ item.id }}'/></td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>

    </form>
    <script>
        function AddRow(){
{#            var len = $('#tb1 tr').length ;#}
{#            console.log(len);#}
            var newRow = "<tbody><tr><td></td><td><input type='text'></td><td><input type='text'</td><td><input type='checkbox'/> </td></tr></tbody>')";
            $("#tb1").append(newRow);
        }
     　　
    </script>

{% endblock %}