<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>book_modelform</title>
    <style>
        .form-ele{
            padding: 20px;
        }
    </style>
</head>
<body>
    <form action="" method="post">{% csrf_token %}
        <div class="form-control">
{#            {{ book_form }}#}
            {% for ele in book_form %}
                <div class="form-ele">{{ ele.name }}{{ ele }}{{ ele.errors }}</div>
            {% endfor %}
            </div>
        <input type="submit" value="create">
    </form>
</body>
</html>