{% extends 'store/basic.html' %}
{% block content %}
    <div>
        <input class="button" id="btnshow" type="button" value="Add" onclick="showdiv();"/>
        <div id="bg" >
{#            这里是编辑信息#}
        </div>
        <div id="show" style="height: auto" >

            <div id="divHide"  >
                <form class="form" action="/store/publisher_edit/" method="post">
                    <div >
                        Name<input  type="text" name="name" value="" required="length[6~50]"/>
                    </div>
                    <div>
                        City<input  type="text" name="city" value="" required="length[6~50]"/>
                    </div>
                    <div>
                        State Province<input  type="text" name="state_province" value="" required="length[6~50]"/>
                    </div>
                    <div>
                        Country<input  type="text" name="country" value="" required="length[6~50]"/>
                    </div>
                    <div>
                        Website<input  type="text" name="website" value="" required="length[6~50]"/>
                    </div>

                    <input type="submit" value="提交" onclick="FuncAdd(this);"/>
                    <input id="btnclose" type="button" value="取消" onclick="hidediv();"/>
                </form>
            </div>

        </div>
        <input class="button" id="checkbox1" type="button" value="全选" onclick="SelectAll(this);"/>
        <input class="button" id="checkbox2" type="button" value="反选" onclick="OtherBind(this)"/>
        <input class="button" id="checkbox3" type="button" value="取消" onclick="NoBind(this)"/>
    </div>
    <form action="/store/publisher_del/" method="post">
        <table  class="table" >
        <thead>
                <tr>
                    <th>ID</th>
                    <th>name</th>
                    <th>address</th>
                    <th>city</th>
                    <th>state_province</th>
                    <th>country</th>
                    <th>website</th>

                </tr>
            </thead>
            <tbody>
                {% for item in li %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.address }}</td>
                        <td>{{ item.city }}</td>
                        <td>{{ item.state_province }}</td>
                        <td>{{ item.country }}</td>
                        <td>{{ item.website }}</td>
                        <td><input name="choice" type="checkbox"  value='{{ item.id }}'/></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" value="del"/>
    </form>
{% endblock %}