{% extends 'crm/base_list.html' %}
{% load customer_tag %}
{% block list-head %}
    课程列表
{% endblock %}
{% block list-form-del %}
    <form action="/crm/course_del/" method="post">
{% endblock %}
{% block list-form-table %}
    <table class="table">
        <thead>
        <tr>
            <th>选择</th>
            <th>名称</th>
            <th>面授班价格</th>
            <th>网络班价格</th>
            <th>简介</th>
        </tr>
        </thead>
        <tbody>
        {% for item in course_list %}
            <tr>
                <td><input name="choice" id="ck" type="checkbox"  value='{{ item.id }}' /></td>
                <td><a href="{% url 'course_detail' item.id  %}">{{ item.name }}</a></td>
                <td>{{ item.online_price }}</td>
                <td>{{ item.offline_price }}</td>
                <td>{{ item.introduction }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
</form>
{% block list-form %}
    <form action="" method="post" class="form-horizontal">
        <div>
            <div>
                <label style="padding-right: 50px;width: 150px">
                    名称:
                </label>
                <span>
                    {{ model_form.name }}
                </span>
            </div>
            <div>
                <label style="padding-right: 50px;width: 150px">
                    面授班价格:
                </label>
                                <span>
                                       {{ model_form.online_price }}
                                </span>
            </div>
            <div>
                <label style="padding-right: 50px;width: 150px">
                    网络班价格:
                </label>
                                <span>
                                       {{ model_form.offline_price }}
                                </span>
            </div>
            <div>
                <label style="padding-right: 50px;width: 150px;">
                    简介:
                </label>
                                <span>
                                       {{ model_form.introduction}}
                                </span>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </form>
{% endblock %}
{% block pagination %}
    <ul class="pagination" >
        {% if course_list.has_previous %}
            <li class="">
                <a href="?page={{ course_list.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}
        {% for page_num in course_list.paginator.page_range %}
            {% guess_page course_list.number page_num %}
        {% endfor %}
        {% if course_list.has_next %}
            <li class="">
                <a href="?page={{ customer_list.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

