{% extends 'crm/lunch.html' %}
{% load customer_tag %}
{% block page-content-head %}
    学员信息
{% endblock %}
{% block page-content %}
    <div class="box-body">
        <table class="table  table-hover table-striped	 ">
            <thead>
                <tr>
                    <th>QQ</th>
                    <th>姓名</th>
                    <th>手机</th>
                    <th>渠道</th>
                    <th>咨询课程</th>
                    <th>课程类型</th>
                    <th>课程顾问</th>
                    <th>状态</th>
                    <th>日期</th>
                    <th>客户备注</th>
                </tr>
            </thead>
            <tbody>
            {% for item in customer_list %}
            <tr>
                <td><a href="{% url 'customer_detail' item.id  %}">{{ item.qq }}</a></td>
                <td>{{ item.name }}</td>
                <td>{{ item.phone }}</td>
                <td>{{ item.get_source_type_display }}</td>
                <td>{{ item.course }}</td>
                <td>{{ item.get_course_type_display }}</td>
                <td>{{ item.consultant }}</td>
                <td class="{{ item.status }}">{{ item.get_status_display }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.consult_memo|truncatechars:10 }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination" style="margin-right: 300px" >
            <nav >
                <ul class="pagination" >
                    {% if customer_list.has_previous %}
                        <li class="">
                            <a href="?page={{ customer_list.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for page_num in customer_list.paginator.page_range %}
                        {% guess_page customer_list.number page_num %}
                    {% endfor %}
                    {% if customer_list.has_next %}
                          <li class="">
                            <a href="?page={{ customer_list.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}