{% extends 'crm/base_list.html' %}
{% load customer_tag %}
{% block list-head %}
    校区列表
{% endblock %}
{% block list-form-del %}
    <form action="/crm/school_del/" method="post">
{% endblock %}
{% block list-form-table %}
    <table class="table  table-hover table-striped" >
        <thead>
        <tr>
            <th>选择</th>
            <th>名称</th>
            <th>城市</th>
            <th>地址</th>
        </tr>
        </thead>
        <tbody>
        {% for item in shcool_list %}
            <tr>
                <td><input name="choice" type="checkbox"  value='{{ item.id }}'/></td>
                <td><a href="{% url 'school_detail' item.id  %}">{{ item.name }}</a></td>
                <td>{{ item.city }}</td>
                <td>{{ item.addr }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
</form>
{% block list-form %}
    <form action="" method="post" class="form-horizontal">
        <div>
            <div >
                <label style="padding-right: 50px;padding-bottom: 10px;width: 150px">
                    名称:
                </label>
                <span>
                    {{ model_form.name }}
                </span>
            </div>

            <div>
                <label style="padding-right: 50px;padding-bottom: 10px;width: 150px">
                    城市:
                </label>
                <span>
                    {{ model_form.city }}
                </span>
            </div>
            <div>
                <label style="padding-right: 50px;padding-bottom: 10px;width: 150px">
                    地址:
                </label>
                <span>
                    {{ model_form.addr }}
                </span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </form>
{% endblock %}
{% block pagination %}
    <ul class="pagination" >
        {% if shcool_list.has_previous %}
            <li class="">
                <a href="?page={{ shcool_list.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}
        {% for page_num in shcool_list.paginator.page_range %}
            {% guess_page shcool_list.number page_num %}
        {% endfor %}
        {% if shcool_list.has_next %}
            <li class="">
                <a href="?page={{ shcool_list.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}