<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django blog</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/dashboard.css" rel="stylesheet">
    <link href="/static/bootstrap/css/custom.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>
<body>
<div class="page-header">
    <h1><a href="/">Django Blog</a></h1>
    <a href="{% url 'post_draft_list' %}" class="top-menu">
        <span class="glyphicon glyphicon-edit"></span></a>
    <a href="{% url 'Copernicus.views.post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>

</div>
<div class="content">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>