body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;

}
.gray-bg {
    background-color: #f3f3f4;
}
.middle-box {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -200px;
    z-index: 100;
}

.loginscreen.middle-box {
    width: 300px;
    margin-left: -150px;
    margin-top: -330px;
}
.text-center {
    text-align: center;
}
.form-control,
.single-line {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  font-size: 14px;
}

.logo-name {
  color: #e6e6e6;
  font-size: 180px;
  font-weight: 800;
  letter-spacing: -10px;
  margin-bottom: 10px;
  margin-top: 23%;
}


.form-group {
    margin-bottom: 15px;
}
.form-group.required .control-label:after {
  content: " *";
  color: red;
}
.m-t {
    margin-top: 15px;
    font-size: 16px;
}

.full-width {
  width: 100% !important;
}
.join{
  margin-top: 10px;
  margin-left: 51%;
  position: fixed;
  right: 10px;
  bottom: 7px;
  background-color: inherit;
}



